<div class="nba-logo">
	<h1>NBA Game Predictions</h1>
</div>
<div class="todays-games">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p>Games on <%= DateTime.now.strftime("%e-%b-%Y") %></p>
			<br><br>
			
			<% @allGames.each do | game | %>
			
			<p><a href="/team" style="text-decoration: none"></a>
				
				<%= "#{game.home_team.city} #{game.home_team.name} vs #{game.visitor_team.city} #{game.visitor_team.name}" %>
			

		<p class="home-team-info"> 
      Conference: <%= "#{game.home_team.conference}" %><br>
      Conference Rank: <%= "#{game.home_team.rank}" %><br>
			Record: <%= "#{game.home_team.wins} - #{game.home_team.losses}" %>
		</p>
		<p class="visiting-team-info"> 
      Conference: <%= "#{game.visitor_team.conference}" %><br>
      Conference Rank: <%= "#{game.visitor_team.rank}" %><br>
			Record: <%= "#{game.visitor_team.wins} - #{game.visitor_team.losses}" %>
		</p>
		


		<p><%= "#{game.time_of_game}" %></p>
		<p><%= "#{game.home_points}" %> <%= "#{game.visiting_points}" %></p>
		
	
		
		<br><br><br><br>
		
		
		<% end %>
	</div>
</div>
</div>




